In [1]:
import pandas as pd

In [2]:
enrollment_df = pd.read_csv(r"D:\UIDAI\aadhar_enrollment_cleaned(1).csv")
demographic_df = pd.read_csv(r"D:\UIDAI\aadhar_demographic_cleaned(1).csv")
biometric_df = pd.read_csv(r"D:\UIDAI\aadhar_biometric_cleaned(1).csv")

In [3]:
#Verify Structure Before Merging
enrollment_df.info()
demographic_df.info()
biometric_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493955 entries, 0 to 493954
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   date             493955 non-null  object
 1   state            493955 non-null  object
 2   district         493955 non-null  object
 3   pincode          493955 non-null  int64
 4   age_0_5          493955 non-null  int64
 5   age_5_17         493955 non-null  int64
 6   age_18_greater   493955 non-null  int64
 7   month            493955 non-null  object
 8   total_enrolment  493955 non-null  int64
dtypes: int64(5), object(4)
memory usage: 33.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418793 entries, 0 to 418792
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   date             418793 non-null  object
 1   state            418793 non-null  object
 2   district         418793 non-null  object
 3   pincode          418793 non-null  int64
 4   demo_age_5_17    418793 non-null  int64
 5   demo_age_17_     418793 non-null  int64
 6   month            418793 non-null  object
 7   total_enrolment  418793 non-null  int64
dtypes: int64(4), object(4)
memory usage: 25.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489009 entries, 0 to 489008
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   date             489009 non-null  object
 1   state            489009 non-null  object
 2   district         489009 non-null  object
 3   pincode          489009 non-null  int64
 4   bio_age_5_17     489009 non-null  int64
 5   bio_age_17_      489009 non-null  int64
 6   month            489009 non-null  object
 7   total_enrolment  489009 non-null  int64
dtypes: int64(4), object(4)
memory usage: 29.8+ MB

In [4]:
#Define Common Merge Keys
common_keys = ['date', 'state', 'district', 'pincode', 'month']

In [5]:
#Merge Enrollment + Demographic Data
merged_1 = pd.merge(
    enrollment_df,
    demographic_df,
    on=common_keys,
    how='inner'
)

In [6]:
#Merge the Result with Biometric Data
final_merged_df = pd.merge(
    merged_1,
    biometric_df,
    on=common_keys,
    how='inner'
)

In [7]:
#Check Final Dataset
final_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115282 entries, 0 to 115281
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   date               115282 non-null  object
 1   state              115282 non-null  object
 2   district           115282 non-null  object
 3   pincode            115282 non-null  int64
 4   age_0_5            115282 non-null  int64
 5   age_5_17           115282 non-null  int64
 6   age_18_greater     115282 non-null  int64
 7   month              115282 non-null  object
 8   total_enrolment_x  115282 non-null  int64
 9   demo_age_5_17      115282 non-null  int64
 10  demo_age_17_       115282 non-null  int64
 11  total_enrolment_y  115282 non-null  int64
 12  bio_age_5_17       115282 non-null  int64
 13  bio_age_17_        115282 non-null  int64
 14  total_enrolment    115282 non-null  int64
dtypes: int64(11), object(4)
memory usage: 13.2+ MB

In [8]:
final_merged_df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,month,total_enrolment_x,demo_age_5_17,demo_age_17_,total_enrolment_y,bio_age_5_17,bio_age_17_,total_enrolment
0,2025-04-01,Haryana,Gurgaon,122002,68,47,14,April,129,135,1020,1155,168,188,356
1,2025-04-01,Rajasthan,Jaipur,302012,781,198,21,April,1000,610,4263,4873,1056,2138,3194
2,2025-04-01,Uttar Pradesh,Baghpat,250611,311,224,18,April,553,366,2361,2727,967,455,1422
3,2025-04-01,Gujarat,Rajkot,360002,279,65,43,April,387,152,2256,2408,901,893,1794
4,2025-04-01,Maharashtra,Nandurbar,425412,237,35,10,April,282,85,961,1046,766,1580,2346

In [10]:
final_merged_df['state'].nunique()

34

In [11]:
final_merged_df['district'].nunique()

807

In [12]:
final_merged_df['month'].unique()

array(['April', 'May', 'June', 'July', 'September'], dtype=object)

In [13]:
final_merged_df = final_merged_df.rename(columns={
    'total_enrolment_x': 'enrolment_total',
    'total_enrolment_y': 'demographic_total',
    'total_enrolment': 'biometric_total'
})

In [14]:
final_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115282 entries, 0 to 115281
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   date               115282 non-null  object
 1   state              115282 non-null  object
 2   district           115282 non-null  object
 3   pincode            115282 non-null  int64
 4   age_0_5            115282 non-null  int64
 5   age_5_17           115282 non-null  int64
 6   age_18_greater     115282 non-null  int64
 7   month              115282 non-null  object
 8   enrolment_total    115282 non-null  int64
 9   demo_age_5_17      115282 non-null  int64
 10  demo_age_17_       115282 non-null  int64
 11  demographic_total  115282 non-null  int64
 12  bio_age_5_17       115282 non-null  int64
 13  bio_age_17_        115282 non-null  int64
 14  biometric_total    115282 non-null  int64
dtypes: int64(11), object(4)
memory usage: 13.2+ MB

In [15]:
final_merged_df.to_csv("aadhar_final_merged_dataset.csv", index=False)

In [16]:
final_merged_df.shape

(115282, 15)